@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    letter-spacing: .4px;
}
h1, h2, h3, h4, h5{
    line-height: 120%;
}
h1{
    font-size: 40px;
    color: black;
}
h2{
    font-size: 28px;
    color: #555555;
}
h3{
    font-size: 26px;
    color: black;
}
h4{
    font-size: 19px;
    color: black;
}
h5{
    font-size: 18px;
    font-weight: 400;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
p{
    font-size: 16px;
    line-height: 140%;
    color: #555555;
}
.heading-p{
    padding-top: 9rem;
    text-align: center;
}
a{
    font-size: 24px;
    color:black;
    text-decoration-color: white;
    transition: .4 ease;
}
a:hover{
    color:#555555;
    text-decoration-color: #555555;
    text-decoration: underline;
    text-underline-offset: 1rem;


}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    cursor: pointer;
    color:black;
    border: 1px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 600;
    font-size: 14px;
    transition:.4 ease;
}
.btn:hover{
    background: #555555;
    color: white;
}
.btn-dark{
    color: white;
    background: #555555;
    text-decoration: none !important;
}
.btn-dark:hover{
    background: black;
}
img{
    width: 100%;
    display: block;
}
.icon-1{
    width: 32px;
    height: max-content
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
nav{
    height: 8rem;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0;
    width: 100%;
    display: grid;
    place-items: center;
    background: whitea;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    font-size: 32px;
    color: black !important;
    text-decoration: none !important;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

header{
    padding-top: 14rem;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    justify-content: space-between;
}
.header-right{
    text-align: center;
    margin: auto;
}
.header-right p{
    color: #555555;
}
.header-right h2{
    margin-top: 4rem;
}
.header-action-area{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.header-social{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.about-container{
    display: grid;
    grid-template-columns: 38% auto;
    gap: 4rem;
    align-items: center;
}
.about-left{
    border-radius: 20px;
    overflow: hidden;
}
.basic-edu{
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}
.edu-box{
    padding: 24px;
    text-align: center;
    border: 1px solid #555555;
    border-radius: 30px;
    width: 100%;
}
.edu-box img{
    margin: auto;
}
section{
    position: relative;
}
.arrow{
    position: absolute;
    right: 3%;
    transition: var(--transition);
    margin-top: 1.4rem;
}
.arrow:hover{
    margin-top: 2rem;
}
.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem
}
.experience-box{
    border: 1px solid #555555;
    border-radius: 30px;
    padding: 24px;
    align-items: center;
}
.experience-box h2{
    text-align: center;
    margin-bottom: 2rem;
}
.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.ex-div{
    margin: auto;
    display: flex;
    margin: 20px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.project{
    padding: 24px;
    border: 1px solid #555555;
    border-radius: 24px;
}
.project img{
    border-radius: 12px;
    margin-bottom: 1rem;
}
.contact-container{
    max-width: 30rem;
    border: 1px solid #555555;
    padding: 24px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email,.linkedin{
    display: flex;
    align-items: center;
    gap: .5rem;
}
footer{
    margin-top: 9rem;
    padding: 30px;
    text-align: center;
}
footer .nav-links{
    justify-content: center;
    margin-bottom: 3rem;
}